@model TextBox.MVCClient.ViewModels.BookPageVM
@{
  Layout = "../Shared/_Layout.cshtml"; 
}
@{
    ViewData["Title"] = "Home Page";
}
<div class = ".fixed-left">
@Html.Partial("../Shared/_LibraryFilterPartial", @model)
</div>
<br>
<div class="container">
<div class="row">
 @foreach (var item in Model.certainBooks)
  {
<div class="col-sm">
<p>@Model.Price</p>
</div>
  }
</div>
</div>
