@model TextBox.MVCClient.Models.LibraryModel
@{
  Layout = "../Shared/_Layout.cshtml"; 
}
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel ="stylesheet" type="text/css" href="C:\Users\sudee\textbox\TextBox.MVCClient\Styles\Library.css">
</head>
<div class = ".fixed-left">
@Html.Partial("../Shared/_LibraryFilterPartial", @Model)
</div>
<br>
<div class="container">
<form action="/Library/Home" method="post" id ="filterbooks">
<select name="filtertype" form="filterbooks">
  <option value=1>A-Z</option>
  <option value=2>Z-A</option>
  <option value=3>Price:Low-High</option>
  <option value=4>Price:High-Low</option>
</select>
<input type="hidden" name="certainbook" value=library>
<input type="submit" value="Filter">
</form>
<div class="row">
 @foreach (var item in Model.library)
  {
<div class="col-sm-2">
  <div class ="cliente">
<p> @item.Title </p>
  by:
  @foreach (var booktoauthors in Model.allBookAuthors)
  {
    @if(booktoauthors.BookId == item.Id)
    {
      <p>@booktoauthors.Authors.FirstName @booktoauthors.Authors.LastName</p>
    }
  }
  </div>
</div>
  }
</div>
</div>
