@model TextBox.MVCClient.Models.LibraryModel
@{
  Layout = "../Shared/_Layout.cshtml"; 
}
@{
    ViewData["Title"] = "Home Page";
}
<div class = ".fixed-left">
@{Html.Partial("../Shared/_LibraryFilterPartial", @Model);}
</div>
<br>
<div class="container">
<form action="/Library/Home" method="post" id ="filterbooks">
<select name="filtertype" form="filterbooks">
  <option value=1>A-Z</option>
  <option value=2>Z-A</option>
  <option value=3>Price:Low-High</option>
  <option value=4>Price:High-Low</option>
</select>
<input type="hidden" name="certainbook" value=library>
<input type="submit" value="Filter">
</form>
<div class="row">
 @foreach (var item in Model.library)
  {
<div class="col-sm">
<p> @item.Title 

</p>
<div>
  by:
  <p>
  @foreach (var item2 in item.BookAuthors)
  {
      <i>@item2.FirstName @item2.LastName </i>
      <br>
  }

  </p>
</div>
</div>
  }
</div>
</div>
