@model TextBox.MVCClient.ViewModels.BookPageVM

<!-- Default dropright button -->
<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Genre
  </button>
  <div class="dropdown-menu">
    //actionlink
  </div>
</div>
<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Authors
  </button>
  <div class="dropdown-menu">
    //actionlink
  </div>
</div>
<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Top 100 Sellers
  </button>
  <div class="dropdown-menu">
    //actionlink
  </div>
</div>

