<form action="/book/create" method="post">

  <p>Add a book to the store</p>
  <label for="Title">Title</label>
  <input type="text" id="Title" name="Title"><br>

  <label for="Publisher">Publisher</label>
  <input type="text" id="Publisher" name="Publisher"><br>

  <label for="BookCover">BookCoverLink</label>
  <input type="text" id="BookCover" name="BookCover"><br>

  <label for="Synopsis">BookSynopsis</label>
  <input type="text" id="Synopsis" name="Synopsis"><br>

  <label for="firstname">Author's First Name</label>
  <input type="text" id="firstname" name="firstname">
  <label for="lastname">Author's Last Name</label>
  <input type="text" id="lastname" name="lastname"><br>

  <label for="BookGenre"> Initial Genre</label>
  <input type="text" id="BookGenre" name="BookGenre"><br>

  <label for="Series">Series</label>
  <input type="text" id="Series" name="Series"><br>

  <label for="Cost">Cost</label>
  <input type="number" id="Cost" name="Cost"><br>

  <label for="ISBN">ISBN</label>
  <input type="text" id="ISBN" name="ISBN"><br>

  <label for="Pages">Pages</label>
  <input type="number" id="Pages" name="Pages"><br>

  <label for="ReleaseDate">Release Date</label>
  <input type="text" id="ReleaseDate" name="ReleaseDate"><br>

  <button type="submit">Add Book</button>
</form>