@model TextBox.MVCClient.Models.BookModel
@{
  Layout = "../Shared/_Layout.cshtml"; 
}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
  .bookcover{
  background-color: gray;
  overflow: auto;
  position: fixed;
  left: 20%;
  top: 15%;
  margin-top: auto; 
  width: 30%;
  height: 30%;
  padding:20px;
  border: black medium solid;
  border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
  }
  .mainsummary{
  position: fixed;
  left: 25%;
  top: 50%;
  margin-top: auto; 
  width: 40%;
  height: auto;
  padding: 20px;
  border: black medium solid;
  border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
}
  .maintitle {
  overflow:auto;
  font-size: 28%; 
  position: fixed;
  padding: 1%;
}
 .mainbook {
  background-color: lightcyan;
  position: fixed;
  top: 15%; 
  left: 60%;
  width: 20%;
  font-size: 200%;
  padding:2%;
  border: black medium solid;
  border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;
}
.mainbutton {
  overflow:auto;
  background-color: black;
  position: fixed;
  top: 45%;
  left: 67%;
  width: auto;
  font-size: 150%;
  border: black medium solid;
  border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%;

}


</style>
</head>

<div class = "container">
<div class = "container">
<div class = "d-flex justify-content-center">
<div class="maintitle">
  <br>
  <h2>BOOK TITLE</h2>
</div>
</div>
</div>
<div class = "container">
<div class = "bookcover">
<p style = "color:white; font-size:3vw">The Prisonzor of Azakaban</p>
</div>
</div>
<br>
<div class="container">
<div class = "mainbook">
<div class =  "d-flex justify-content-around">
<p>Author</p>
</div>
<div class =  "d-flex justify-content-around">
<p>Publisher</p>
</div>
<div class =  "d-flex justify-content-around">
<p>1231-2312-39</p>
</div>
<div class =  "d-flex justify-content-center">
<p>Author</p>
</div>
<div class =  "d-flex justify-content-around">
<p>Publisher</p>
</div>
<div class =  "d-flex justify-content-around">
<p>ISBN</p>
</div>
</div>
</div>
<button type="button" class="mainbutton btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Add Book to Cart</button>
  <div class = "container">
  <div class = "mainsummary">
    <p style = "color:black; font-size:1.5vw"><b>Synopsis:</b><p>
    <p style = "color:black; font-size:1.5vw">The Prisonzor asdsad asdsa das dsad sadas asdsa  asd asdsa  sadas dsad adsa da of Azakaban of the whole world in this class askjhdsa kjhdkj ashdjk sahdkjas hdkjsahd  kjshdksa hdka shjkds asdsadn  asdsadsad aadsadasd asdsadsa ssadsadsads</p>
  </div>
  </div>
</div>


